body {
  background-color: #4F4F4F;
}

@font-face {
  font-family: "Roboto";
  src: url(font/Roboto-Black.ttf);
}

.maindiv {
  width: 800px;
  background-color: white;
  margin: auto;
  display: flex;
}

.left {
  padding-left: 50px;
  padding-top: 55px;
  width: 380px;
}

.right {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 55px;
  width: 380px;
}

.image {
  height: 390px;
  margin-bottom: 25px;
}

.skills {
  display: flex;
  width: 320px;
}

.name {
  width: 140px;
}

.software {
  margin-top: 5px;
  font-size: 14px;
  font-family: "roboto";
  line-height: normal;
}

.software {
  margin-top: 5px;
  font-size: 14px;
  font-family: "roboto";
  line-height: normal;
}

h3 {
  font-family: "roboto";
  color: #124384;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-family: "Bebas Neue Regular";
  color: #242422;
  font-size: 90px;
  text-align: center;
  padding-top: 40PX;
}

h2 {
  font font-family: "roboto";
  color: #124384;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

.aboutme {
  font-size: 14px;
  font-family: "roboto";
  font-style: Regular;
  line-height: normal;
  padding-right: 40px color: #777777;
  font-weight: lighter;
}

.boldtext {
  font-size: 14px;
  font-family: "roboto";
  font-weight: bold;
}

.exp {
  position: relative;
  left: 30px;
  font-size: 14px;
  font-family: "roboto";
  line-height: normal;
  padding-right: 40px
}
