@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body {
  background: #DEDAD6;
}

.header {
  background-image: url(images/img1.png);
  background-size: cover;
}

.logo {
  position: absolute;
  width: 182px;
  height: 49px;
  background: url(Logo1.png);
  position: center;
  padding-left: 42px;
}

nav {
  display: flex;
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 42px;
  align-items: center;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  display: inline-block;
  list-style: none;
  padding: 9px 12px;
  position: relative;
  margin: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #61564C;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.active {
  background: #D6CFC9;
  border-radius: 2px;
  padding: 8px;
  width: 107px;
  height: 30px;
}

.mainimage img {
  background-size: cover;
  height: 120vh;
  justify-content: center;
}

.maintext h2 {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 66px;
  line-height: 77px;
  color: #DEDAD6;
  top: 700px;
  left: 560px;
  text-align: center;
  justify-content:
}

.tagline {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #DEDAD6;
  top: 780px;
  left: 570px;
}

.about {
  padding-top: 80px;
  width: 60%;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  color: #564C43;
}

p {
  color: #61564C;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding-top: 10px;
}

.photos h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  padding-top: 80px;
  font-size: 66px;
  color: #564C43;
}

.photos p {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  color: #61564C;
  line-height: 24px;
  padding: 30px;
}

div.images {
  display: flex;
  flex-flow: row;
  height: 250px;
  grid-gap: 40px;
  justify-content: center;
}

.lable h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-size: 18px;
  color: #61564C;
  text-align: center;
}

.lable h3 {
  display: inline-block;
  flex-flow: row;
  padding-top: 15px;
  text-align-last: center;
}

.feedback h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  padding-top: 80px;
  font-size: 66px;
  color: #564C43;
}

.feedback p {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  color: #61564C;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feedbackbox {
  background: #D6CFC9;
  border-radius: 2px;
  padding: 8px;
  width: 509px;
  height: 530px;
  margin-left: 685px;
  border-radius: 8px;
}

.feedback h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #61564C;
}

.name {
  background: #DEDAD6;
  ;
  border-radius: 4px;
  width: 409px;
  height: 36px;
  margin-left: 32px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.place {
  background: #DEDAD6;
  ;
  border-radius: 4px;
  width: 409px;
  height: 36px;
  margin-left: 32px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.contactno {
  background: #DEDAD6;
  border-radius: 4px;
  width: 409px;
  height: 36px;
  margin-left: 32px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.email {
  background: #DEDAD6;
  ;
  border-radius: 4px;
  width: 409px;
  height: 36px;
  margin-left: 32px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.message {
  background: #DEDAD6;
  border-radius: 4px;
  width: 409px;
  height: 150px;
  margin-left: 32px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.send {
  background: #DFDBD7;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  margin-left: 360px;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 35px;
}

.getintouch h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  padding-top: 80px;
  font-size: 66px;
  color: #564C43;
}

getintouch. h1 {
  display: flex;
  flex-flow: row;
  height: 250px;
  grid-gap: 40px;
  padding-left: 100px;
  padding-right: 35px;
}

div.logos {
  justify-content: center;
  display: flex;
  flex-flow: row;
  height: 45px;
  grid-gap: 40px;
  padding-top: 30px;
  padding-bottom: 30px
}

footer {
  padding: 40px 0;
  background-color: #322D28;
  ;
  text-align: center;
  color: #c7c5c5;
  font-size: 18px;
  line-height: 1.4;
  display: block;
