body {
  background-color: offwhite #FFFBFB;
}
.subHead{
  /* justify-content: center;
  align-items:center; */
  position:relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin:50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
div.mainHead{
  position: relative;
  display: flex;
  padding-bottom: 24px;
  font-family: roboto;
  font-weight: bold;
      font-size: 50px;
  align-items: center;
  flex-direction: column;
}
.mainHead p{
color: #706F6F;
border-top:  1px solid #384D6B;
padding-top: 24PX;
}
.leftSide{
  /* background-color: #545454; */
  padding: 40px;
  position: relative;
}
.rightSide{
  background-color: white;
  padding: 40px;
  position: relative;
}

.imgBox{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 36px;
}
